@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Josefin Sans', sans-serif;

  @media screen and (min-width: 1440px) {
    font-size: 6px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 8px;
  }

  @media screen and (min-width: 2000px) {
    font-size: 10px;
  }
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @media screen and (max-width: 376px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 1440px) {
    grid-template-columns: 1.3fr 1fr;
  }
}

.left {
  height: 100vh;
  background: url('../images/bg-pattern-desktop.svg');
  background-size: cover;
  background-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  height: 100%;
  margin: auto;
  justify-content: space-evenly;

  @media screen and (max-width: 376px) {
    justify-content: space-between;
    padding: 2rem 0;
    width: 90%;
    text-align: center;
    margin-left: 1.3rem;
  }
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75rem;

  @media screen and (max-width: 376px) {
    height: 42rem;
    justify-content: space-evenly;
  }
}

.logo {
  height: 6rem;
  background-repeat: no-repeat;
  width: 24rem;
  background: url('../images/logo.svg') no-repeat;
  background-size: 100%;

  @media screen and (max-width: 376px) {
    height: 3rem;
    width: 14rem;
    background-size: 80%;
    margin: 7px 5px;
  }
}

.right {
  background: url('../images/hero-desktop.jpg');
  background-size: cover;
  background-position: 100%;
  width: 100%;

  @media screen and (max-width: 376px) {
    background: url('../images/hero-mobile.jpg');
    width: 100vw;
    height: 25rem;
    position: absolute;
    top: 8rem;
    left: 0;
  }
}

.logo {
  svg {
    font-size: 1.4rem;
  }
}

h1 {
  text-transform: uppercase;
  word-wrap: break-word;
  font-size: 12rem;
  letter-spacing: 1.5rem;

  @media screen and (max-width: 376px) {
    font-size: 4rem;
    letter-spacing: 1rem;
  }

  p {
    font-weight: 400;
  }

  p:first-of-type {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
  }
}

h3 {
  font-size: 3rem;
  font-weight: 400;
  color: hsl(0, 36%, 70%);
  width: 90%;
  line-height: 1.5;

  @media screen and (max-width: 376px) {
    font-size: 1.5rem;
    width: 100%;
  }
}

.form {
  width: 90%;
  height: 10rem;
  position: relative;

  @media screen and (max-width: 376px) {
    height: 5rem;
    margin-bottom: 5rem;
    width: 100%;
  }

  &__input {
    height: 90%;
    width: 90%;
    outline: none;
    border: 0;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 5rem;
    font-size: 3rem;
    font-family: inherit;
    padding-left: 5rem;
    color: hsl(0, 36%, 70%);
    transition: all 0.3s ease;

    + .error {
      background: url('../images/icon-error.svg');
      width: 6rem;
      height: 6rem;
      margin: auto 0;
      position: absolute;
      top: 1.5rem;
      right: 24rem;
      background-size: cover;
      background-position: center;
      z-index: 1;
      display: none;
      visibility: hidden;

      & ~ .error__message {
        color: red;
        font-size: 2.5rem;
        position: absolute;
        top: 6rem;
        left: 5rem;
        display: none;
        transition: all 0.3s ease;

        @media screen and (max-width: 376px) {
          top: 3rem;
          font-size: 1.5rem;
        }
      }

      @media screen and (max-width: 376px) {
        width: 3rem;
        height: 3rem;
        top: 0.8rem;
        right: 9rem;
      }

      @media screen and (min-width: 1920px) {
        right: 25rem;
      }

      @media screen and (min-width: 2000px) {
        right: 27rem;
      }
    }

    &:invalid {
      border: 2px solid red;

      & + .error {
        display: block;
        visibility: visible;
      }

      & ~ .submit {
        transform: scale(1.05);
        box-shadow: 3px 10px 30px 0 #aaa;
      }

      & ~ .error__message {
        display: block;
        top: 11rem;

        @media screen and (max-width: 376px) {
          top: 6rem;
        }
      }
    }

    @media screen and (max-width: 376px) {
      font-size: 1.5rem;
      padding-left: 2rem;
    }

    &::placeholder {
      color: hsl(0, 36%, 70%);
      font-size: 3rem;
      vertical-align: middle;

      @media screen and (max-width: 376px) {
        font-size: 1.5rem;
      }
    }
  }

  .submit {
    position: absolute;
    top: 0;
    right: 8.3rem;
    border: none;
    width: 17rem;
    height: 90%;
    border-radius: 6rem;
    cursor: pointer;
    transition: all 0.3s ease;

    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    &:focus {
      outline: none;
    }

    @media screen and (max-width: 376px) {
      width: 7rem;
      margin: auto;
      height: 90%;
      right: 1.3rem;

      img {
        height: 20px;
      }
    }

    @media screen and (min-width: 1440px) {
      right: 5rem;
    }

    @media screen and (min-width: 1920px) {
      right: 7.3rem;
    }
  }
}
